<div class="row">
  <div class="ml-auto mr-auto col-12 col-md-10 col-lg-6">

    <div class="card intro-card summary-container">
      <div class="card-body">
        <h3 class="card-title font-weight-bold">Results for</h3>
        <h5 class="card-title survey-title">{{current.surveyTitle}}</h5>

        <table class="table-hover">
          <thead>
            <tr>Team name</tr>
            <tr>Number of votes</tr>
            <tr>Average result</tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

  </div>
</div>
