<div class="row">
  <div class="ml-auto mr-auto col-12 col-md-10 col-lg-6">

    <ng-container [ngSwitch]="state">

      <!-- Loading a summary data -->
      <ng-container *ngSwitchCase="-1">
        <div class="col text-center">
          <i class="fa fa-spinner fa-spin fa-4x align-self-center"></i>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="1">
        <div class="card intro-card summary-container" *ngIf="current">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">Results for</h3>
            <h5 class="card-title survey-title">{{current.surveyTitle}}</h5>

            <table class="table table-hover table-bordered mt-5">
              <thead>
                <tr>
                  <th>Team name</th>
                  <th>Number of votes</th>
                  <th>Average result</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of current.projects" (click)="selectProject(project)">
                  <td class="project-title-column">{{project.title}}</td>
                  <td>{{project.numberOfVotes}}</td>
                  <td class="average-mood-column">
                    <ng-container [ngSwitch]="project.avgResult | number:'1.0-0'">
                      <img *ngSwitchCase="-2" src="/assets/mood-0.svg" />
                      <img *ngSwitchCase="-1" src="/assets/mood-1.svg" />
                      <img *ngSwitchCase="0" src="/assets/mood-2.svg" />
                      <img *ngSwitchCase="1" src="/assets/mood-3.svg" />
                      <img *ngSwitchCase="2" src="/assets/mood-4.svg" />
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="2">
        <div class="card intro-card summary-container" *ngIf="currentProject">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">Results for</h3>
            <h5 class="card-title survey-title">{{current.surveyTitle}}</h5>
            <h5 class="card-title survey-title">Team "{{currentProject.title}}"
              <a class="back-to-projects" (click)="backToProjects()">&lt;</a>
            </h5>

            <table class="table table-hover table-bordered mt-5">
              <thead>
              <tr>
                <th>#</th>
                <th>Question</th>
                <th>Average result</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let question of currentProject.questions; let i = index">
                <td class="project-title-column">{{i}}</td>
                <td>{{question.title}}</td>
                <td class="average-mood-column">
                  <ng-container [ngSwitch]="question.avgResult | number:'1.0-0'">
                    <img *ngSwitchCase="-2" src="/assets/mood-0.svg" />
                    <img *ngSwitchCase="-1" src="/assets/mood-1.svg" />
                    <img *ngSwitchCase="0" src="/assets/mood-2.svg" />
                    <img *ngSwitchCase="1" src="/assets/mood-3.svg" />
                    <img *ngSwitchCase="2" src="/assets/mood-4.svg" />
                  </ng-container>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </div>
</div>
